<div class='container'>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-3">
      <br />
      <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder:"Email"%>
    </div>

    <div class="field mb-3">
      <%= f.text_field :username, class:"form-control", autocomplete: "username", placeholder:"Username"%>
    </div>

    <div class="field mb-3">
      <%= f.text_field :full_name, class:"form-control", autocomplete: "full_name", placeholder:"Full name"%>
    </div>

    <div class="field mb-3">
      <%= f.text_field :bio, class:"form-control", autocomplete: "bio", placeholder:"Bio"%>
    </div>

    <div class="field mb-3">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class:"form-control", autocomplete: "new-password", placeholder:"Password"%>
    </div>

    <div class="field mb-3">
      <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", placeholder:"Confirm Password"%>
    </div>

    <div class="field">
      <%= f.file_field :avatar, class:"form-control", type:"file", id:"formFile" %>
    </div>

    <div>
      <%= f.radio_button :privacy, 'Private'%>
      <%= f.label :privacy, "Private", :value => "Private"%>
      <%= f.radio_button :privacy, 'Public'%>
      <%= f.label :privacy, "Public", :value => "Public" %>
    </div>

    <div class="actions">
    <br/>
      <button type="submit" class="btn btn-secondary">Sign Up</button>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
