<h1 class="text-center"><%= pluralize(@users.count, "Results")%></h1>
<div class="container">
  <table class="table table-light table-stripped">
    <thead>
    <tr>
      <th><%= sort_link(@query, :username, "Username", default_order: :asc)%></th>
      <th><%= sort_link(@query, :full_name, "Full name")%></th>
    </tr>
    <thead>

    <tbody>
      <% @users.each do |user|%>
        <% if (user != current_user )%>
          <tr>
            <td><%= link_to user.username, user %></td>
            <td><%= link_to user.full_name, user %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
