<div class="container">
  <div class="feed">
    <% @posts = Post.all%>
    <% @posts.each do |post|%>
      <% @user =User.find(post.user_id) %>
      <% if @user!=current_user%>
        <div class="panel panel-danger">
          <div class="panel-heading"style="background-color:#f5dff2">
            <%= image_tag @user.avatar, :width=>50, :crop=>"fill", class:"img-circle img-thumbnail"%>
            <%= @user.username%>
          </div>
          <div class="panel-body">
            <div class="row center-block">
              <% if post.images.attached?%>
                <%= link_to image_tag(post.images.first, class:"feed_image img-rounded"), post, class:"link" %>
              <% end %>
              <% like = current_user.likes.find_by(post: post)%>
              <% if like.nil? %>
                <%= button_to likes_path, params: {like: {post_id: post.id}}, method: :post, class:"like-btn" do %>
                  <%= image_tag('like.png',class:"icon")%>
                <% end%>
              <% else %>
                <%= button_to like_path(like), method: :delete, class:"like-btn" do %>
                  <%= image_tag('nlike.png',class:"icon")%>
                <% end%>
              <% end %>
              <%= link_to image_tag('comment.png',class:"icon"), post %>
              <br>
            </div>
            <p class="caption"><%= post.caption %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
