<div class="container py-5 px-5 justify-content-md-center">
  <div class="row justify-content-center">
      <div class="col-4">
          <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, :width=>200, :crop=>"fill", class:"border border-dark rounded-circle"%>
          <% end %>
      </div>
      <div class="col-4">
          <h3><%= @user.username%></h3>
          <h4><%= @user.full_name%></h4>
          <h5><%= @user.bio%></h5>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-secondary"%>
          <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-secondary" %>
          <%= link_to 'Add new post', new_post_path, class: "btn btn-secondary"%>
      </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
    <h5 class="card-title text-center">Posts</h5>
        <div class="row">
            <div class="col">
                <% @posts.each do |post| %>
                <%if post.user == @user%>
                    <% if post.images.attached?%>
                        <%= link_to image_tag(post.images.first, width:"350", height:"350", class:"border border-start mx-3 my-3"), post, class:"link" %>
                    <% end %>
                <%end%>
                <% end %>
            </div>
        <div>
    </div>
  </div>
</div>
