<<<<<<< Updated upstream

<div class="container">
    <div>
        <div class="row center-block" style="width:1000px">
            <div class="col-md-3 col-md-offset-2">
                <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, :width=>200, :height=>300, :crop=>"fill", class:"img-circle img-thumbnail"%>
                <% end %>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <h3><%= @user.username%></h3>
                <h4><%= @user.full_name%></h4>
                <h5><%= @user.bio%></h5>
                <% if current_user.following?(@user) %>
                    <h5><%= button_to "Unfollow", relationships_path(user_id: @user.id), method: :delete, :class => "btn btn default" %></h5>
                <% else %>
                    <h5><%= button_to "Follow", relationships_path(user_id: @user.id), :class => "btn btn default" %></h5>
                <% end%>
            </div>
        </div>
    </div>
    <br/>
    <% if current_user.following?(@user) %>
      <div class="panel panel-danger">
          <div class="panel-heading text-center"style="background-color:#f5dff2">Posts</div>
          <div class="panel-body">
              <div class="row center-block">
                  <div class="col">
                      <% @user.posts.each do |post| %>
                          <% if post.images.attached?%>
                              <%= link_to image_tag(post.images.first, width:"350", height:"350", class:"img-rounded", :style=>'border:1px solid black; margin:5px'), post, class:"link" %>
                          <% end %>
                      <% end %>
                  </div>
              <div>
          </div>
      </div>
    <% end %>
=======
<div class="container py-5 px-5 justify-content-md-center">
  <div class="row justify-content-center">
      <div class="col-4">
          <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, :width=>200, :crop=>"fill", class:"border border-dark rounded-circle"%>
          <% end %>
      </div>
      <div class="col-4">
          <h3><%= @user.username%></h3>
          <h4><%= @user.full_name%></h4>
          <h5><%= @user.bio%></h5>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-secondary"%>
          <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-secondary" %>
          <%= link_to 'Add new post', new_post_path, class: "btn btn-secondary"%>
      </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
    <h5 class="card-title text-center">Posts</h5>
        <div class="row">
            <div class="col">
                <% @posts.each do |post| %>
                <%if post.user == @user%>
                    <% if post.images.attached?%>
                        <%= link_to image_tag(post.images.first, width:"350", height:"350", class:"border border-start mx-3 my-3"), post, class:"link" %>
                    <% end %>
                <%end%>
                <% end %>
            </div>
        <div>
    </div>
  </div>
>>>>>>> Stashed changes
</div>
