<div class="container">
  <div class="panel panel-danger">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-7">
          <% if @story.images.attached? %>
            <% @story.images.each do |image|%>
              <%= image_tag image ,class:"post_image_l border border-start"%>
            <%end%>
          <%end%>
        </div>
        <% @user = User.find(@story.user_id)%>
        <div class="col-md-5">
          <div class="fs-4 mt-3">
            <%= image_tag select_avatar(@user), :crop=>"fill", class:"img-circle img-thumbnail user_image"%>
            <%= @user.username%>
          </div>
          <%= link_to image_tag('delete.png',class:"icon_comment"), user_story_path(@user.id, @story.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"destroy" if policy(@story).destroy?%>
        </div>
    </div>
    <%= link_to 'Back', user_stories_path , class:"btn btn-default mt-3" %>
  </div>
</div>
