<div class="row">
  <div class="col-md-7">
    <% if @post.images.attached? %>
      <% @post.images.each do |image|%>
        <%= image_tag image ,class:"post_image_l border border-start"%>
      <%end%>
    <%end%>
  </div>
  <% @user = User.find(@post.user_id)%>
  <div class="col-md-5">
    <div class="fs-4 mt-3">
      <%= image_tag select_avatar(@user), class:"img-circle img-thumbnail user_image"%>
      <%= @user.username%>
    </div>
    <p class="post_caption">
      <%= @post.caption%>
    </p>
    <p class="post_time text-right"><%= @post.created_at.strftime("#{@post.created_at.day.ordinalize} %B %Y") %> </p>
    <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-default" if policy(@post).update?%>
    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" if policy(@post).destroy?%>
    <% like = current_user.likes.find_by(post: @post)%>
    <% if like.nil? %>
      <% if policy(@user).user_exist? %>
        <%= button_to likes_path, params: {like: {post_id: @post.id}}, method: :post, class:"like-btn" do %>
          <%= image_tag('like.png',class:"icon")%>
        <% end%>
      <%end%>
    <% else %>
      <% if policy(like).destroy? %>
        <%= button_to like_path(like), method: :delete, class:"like-btn" do %>
          <%= image_tag('nlike.png',class:"icon")%>
        <% end%>
      <%end%>
    <% end %>
    <br/>
    <div class="panel panel-danger comment">
      <div class="panel-heading" style="background-color:#f5dff2">Comments</div>
      <div class="panel-body">
        <%= render @post.comments %>
        <br/>
        <h4>Add a comment:</h4>
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>
