<nav class="navbar navbar-expand-lg" style="background-color:#f5dff2">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag ('insta_icon-removebg-preview.png'), :style => "width:40px; height:40px", :class=> "d-inline-block align-text-top"%>
      <%= image_tag ('insta_text.png'), :style => "width:140px; height:50px", :class=> "d-inline-block align-text-top"%>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mt-3 mb-lg-0">
        <% if user_signed_in?%>
        <li>
          <form class="d-flex ms-5 me-5`" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </li>
        <li class='ms-5'>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link ms-5"%><br/>
        </li>
        <li>
          <%= link_to 'Edit profile', edit_user_registration_path, class: "nav-link ms-3" %>
        </li>
        <li>
          <%= image_tag current_user.avatar, :width=>50, :crop=>"fill", class:"border border-dark rounded-circle ms-3"%>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
